canvas {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

a {
  color: white;
}

a:hover {
  color: yellow;
}

.subheader {
  color: white;
  user-select: none;
  font-family: "Arial";
}

.column-left {
  float: left;
  width: 33.333%;
  text-align: left;
}

.column-center {
  display: inline-block;
  width: 33.333%;
  text-align: center;
}

.column-right {
  float: right;
  width: 33.333%;
  text-align: right;
}

.title {
  text-align: center;
  font-family: "Arial";
  color: white;
  user-select: none;
}

.wrapper {
  font-size: 0; /* get rid of extra spacing due to font-size */
  padding-top: 10px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

#titleWrapper {
  font-size: initial;
  padding-bottom: 12px;
}

#menuWrapper {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
    margin-bottom: 15px;
    background-color: rgb(60, 60, 60);
    overflow: auto;
    font-family: "Arial";
    font-size: 14px;
    user-select: none;
    position: relative;
    color: white;
    width: inherit;
    border-radius: 10px;
}

#elementTable {
  border-collapse: collapse;
  float: left;
}

.elementMenuButton {
    font-size: 13px;
    background: none;
    border: none;
    text-align: center;
    user-select: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 50px;
    transition-duration: 0.4s;
}

.elementMenuButton:hover {
  background-color: rgb(10, 10, 10);
  color: white !important;
 text-size: 15px;
}

.elementMenuButton:active {
  background-color: rgb(100, 100, 100);
  color: white !important;
    text-size: 15px;
}

.selectedElementMenuButton {
  outline: 1px solid white;
}

.optionsCol {
  float: left;
}

.spigotType {
    width: 75px;
}

select {
  padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #575757;
    border: 0;
    margin: 1px;
    color: white;

}

#speedSliderDiv {
  margin-top: 4px;
  margin-bottom: 8px;
}

#speedSlider {
    width: 70px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 100px;
}

#optionsCol2 {
  padding-left: 4px;
}

#fps-counter {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.optionButton {
font-size: inherit;
    font-family: inherit;
    user-select: none;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    border: 0;
    background-color: #575757;
    color: white;
    transition-duration: 0.4s;

}

.optionButtonContainer {
  margin-top: 4px;
}

#clearButton:hover {
  background-color: rgb(255, 0, 0);
}

#clearButton:active {
  background-color: rgb(123, 0, 0);
}

#saveButton:hover {
  background-color: rgb(0, 255, 0);
}

#saveButton:active {
  background-color: rgb(0, 123, 0);
}

#loadButton:hover {
  background-color: rgb(255, 255, 0);
}

#loadButton:active {
  background-color: rgb(123, 123, 0);
}

#penSizeDiv {
  margin-bottom: 2px;
}
